@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    background-color: #E4DCCF;
}

a {
    text-decoration: none;
    color: #EA5455;
    margin: 1em;
    font-size: 1.5em;
}

.volver {
    text-align: center;
}

ul {
    list-style-type: none;
    list-style-position: inside;
    margin-top: 0;
    padding: 0;
}

.encabezado {
    background-color: #EA5455;
    color: #E4DCCF;
    padding: .5em;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}

.producto {
    margin: 1em;
    padding: .5em;
    color: #002B5B;
    display: grid;
    grid-template-columns: repeat(2, auto);
    background-color: white;
}

.producto p {
    margin: .5em 0;
}

.producto p:first-child {
    font-size: larger;
    font-weight: 700;
    grid-column: span 2;
}

.producto_boton {
    border: none;
    font-size: 2em;
    padding: 5px;
    background-color: white;
    color: #EA5455
}

article {
    background-color: white;
    margin: 1em;
    padding: .5em;
    text-align: center;
    color: #002B5B;
}

h2 {
    color: #EA5455;
}

img {
    max-width: 80%;
}

article p:first-of-type {
    font-weight: 700;
}

article p:last-of-type {
    font-weight: 700;
}

.calificacion {
    color: #817d76;
    margin: 0 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.marcado {
    color: gold;
}

@media screen and (min-width: 768px) {
    .producto {
        margin: 1em 5%;
        grid-template-columns: repeat(2, 1fr) auto;
        align-items: center;
    }

    .producto p:first-child{
        grid-column: auto;
    }

    .producto_boton {
        justify-self: end;
    }

    article {
        margin: 1em 10%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: left;
        justify-items: center;
        align-items: start;
        font-size: large;
        row-gap: 5px;
    }

    article h2 {
        grid-column: span 2;
    }

    article p {
        margin: 0;
    }

    img {
        grid-row-start: 2;
        grid-row-end: 6;
        max-height: 20em;
    }

    article ul {
        grid-column: span 2;
        margin: 0;
        padding: 1em;
    }
}

@media screen and (min-width: 1024px) {
    body {
        background-image: url(../img/ropa-fondo.jpg);
    }
    .producto {
        margin: 1em 20%;
        column-gap: 1em;
        justify-items: start;
    }

    .producto p:first-child {
        justify-self: end;
        font-size: large;
    }

    .producto_boton {
        cursor: pointer;
        color: #002B5B;
        font-size: 2.5em;
    }

    .producto_boton:hover {
        color: #EA5455;
    }

    article {
        margin: 1em 20%;
        padding-bottom: 2.5em;
        align-items: center;
    }

    img {
        grid-row-end: 7;
    }

    article ul {
        grid-column: 2;
    }

    a {
        color: white;
        font-weight: 700;
        text-shadow: 2px 2px 1px black;
    }

    a:hover {
        color: #EA5455;
    }
}